body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0) rotateZ(-360deg) scale(5);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotateZ(0) scale(1);
  }
}



.stagger_animation {
  display: inline-block;
  animation: fadeInUp 0.5s ease-out both;
}
